.icon {
  display: flex;
  justify-content: space-around;
}

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-column i {
  font-size: 30px;
  margin-bottom: 10px;
}

.icon-column span {
  font-size: 25px;
}

main {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;
}

.main-title {
  margin-top: 5px;
  font-size: 25px;
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateX(360px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.main-text {
  font-size: 20px;
  margin: 10px 15px 10px 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  animation: showText 2s ease-in-out forwards;
}

.main-text__delay2 {
  animation-delay: 1s;
  opacity: 0;
}

.main-text__delay3 {
  animation-delay: 2s;
  opacity: 0;
}

.main-text__delay4 {
  animation-delay: 3s;
  opacity: 0;
}

.bottom-nav {
  margin: 0px 15px 0px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.bottom-nav__title {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  opacity: 0.7;
}

.bottom-nav__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bottom-nav__content:last-child {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-nav__content_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-nav__content_text span:first-child {
  font-size: 30px;
}

.bottom-nav__content_text span:nth-child(2) {
  font-size: 25px;
  opacity: 0.7;
}

.bottom-nav__content-img {
  position: relative;
}

.bottom-nav__content-img img {
  border-radius: 15px;
}

.bottom-nav__content-img span {
  padding: 0px 5px;
}

.bottom-nav__content-img span i {
  margin-right: 7px;
}

.bottom-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7px;
  bottom: 9px;
  padding: 0px 2px;
  background-color: #b0bec5;
  border-radius: 15px;
}

@keyframes heartBeat {
  0% {
    transform: none;
  }
  50% {
    color: red;
    transform: scale(2);
  }
  100% {
    transform: none;
  }
}

.bottom-heart i:hover {
  will-change: transform;
  animation: heartBeat 3s ease-in-out infinite;
}
