.header-sub {
  text-align: center;
  font-size: 23px;
  background-color: #ffe082;
  padding: 5px 0px;
  margin: -20px 0px 0px 0px;
}

.header-sub span {
  margin: 0px 10px;
}

.profile {
  margin: 15px 15px 0px 15px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.profile-img {
  border-radius: 20px;
  height: 70px;
  width: 70px;
}

.profile-img img {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.profile-name {
  font-size: 30px;
  margin-left: 35px;
}

main {
  margin-left: 15px;
  margin-right: 15px;
}

.friends-recommend {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.friends-recommend__top {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 0px;
  font-size: 20px;
}

.friends-recommend__top span {
  font-size: 20px;
}

.friends-recommend__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.friends-recommend__bottom-img {
  width: 60px;
  height: 60px;
}

.friends-recommend__bottom-img img {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.friends-recommend__bottom-text {
  margin-left: 15px;
  font-size: 30px;
}

@keyframes hideScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#screen {
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe082;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  animation: hideScreen 1s ease-in-out forwards;
  animation-delay: 2s;
}
