.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff9c4;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}

.nav-btn {
  list-style: none;
  font-size: 30px;
}
